.profile__edit {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0%;
    border: 1px solid #FFF;
    background: black;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}

.profile__edit:hover {
    opacity: 0.6;
}
